@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite-react";
@source "../node_modules/flowbite";

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

body {
    min-height: 100vh;
}

.ql-editor {
    font-size: 1.05rem;
}

.post-content {
    margin-bottom: .5rem;
    display: flex;
    flex-wrap: wrap;
}
.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0;
    font-family: sans-serif;
}
.post-content h2 {
    font-size: 1.4rem;
    margin: 1.5rem 0;
    font-family: sans-serif;
}

.post-content {
    width: 100%;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.post-content p {
    white-space: normal !important;
}

.post-content img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}
.post-content a {
    color: #3b82f6;
    text-decoration: underline;
}

.dark .post-content a {
    color: #60a5fa;
}
